<nb-layout center>
  <nb-layout-column>
    <ng-container>
    <img src="assets/logo.png" width="300" alt="logo">
    <h5>&copy; Paweł Włodarczyk 2020</h5>
    <a href="https://github.com/empios"><nb-icon icon="github"></nb-icon></a>
    <a href="https://www.instagram.com/pawelvlodarczyk/"><nb-icon icon="image-2"></nb-icon></a>
    </ng-container>
    <ng-container>
    <app-board></app-board>
      <footer style="margin-top: 50px">Baw się dobrze!!&#9889;</footer>
    </ng-container>
  </nb-layout-column>
</nb-layout>
