
main{
  display: grid;
  grid-template-columns: 250px 250px 250px;
  grid-gap: 0;
}

@media only screen and (max-width: 800px){
  main{
    display: grid;
    grid-template-columns: 180px 180px 180px;
    grid-gap: 0;
  }
}

@media only screen and (max-width: 480px){
main{
  display: grid;
  grid-template-columns: 110px 110px 110px;
  grid-gap: 0;
}
}


app-square{
  border: 1px gray solid;
  height: 200px;
}

